{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "prettier/prettier": "error"
  }
}
